In [3]:
#importing dependencies
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt

In [4]:
sales_df = pd.read_csv('../Resources/weekly_sales_complete.csv')
sales_df.head()

,Item,Item Code,Quantity,Unit Price,Total Sales Amount,date
0,PINT Spotted Cow,3140,64.0,3.937500,252.00,2021-01-08
1,DBL RAIL Vodka,3455,37.0,4.945946,183.00,2021-01-08
2,BTL Miller High Life,3122,31.0,3.250000,100.75,2021-01-08
3,PINT Stein,3141,29.0,3.517241,102.00,2021-01-08
4,SHOT Seagrams VO,3325,26.0,2.423077,63.00,2021-01-08

In [5]:
sales_df.Item.value_counts()

BTL Miller Lite       145
BTL Bud Light         136
RIVERWEST BURGER      128
Cheese Curds          128
SHOT Tullamore Dew    127
                     ...
LSF SCHLITZ             1
Blonde Russian          1
Hurricane               1
Kesslers                1
SHOT Angry Balls        1
Name: Item, Length: 587, dtype: int64